{% extends "bibtool/base.html" %}

{% load static %}

{% block nav-help %}active{% endblock %}

{% block title %}
    CfA Bibliography
{% endblock %}

{% block body %}


<style>

div.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    /*border: 3px solid black;*/
    padding: 0px;
    background-color: #fff;
}

  a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

</style>

<div class="container-fluid">
<div class="row flex-xl-nowrap">

<div class="d-none d-xl-block col-xl-2">
    <div class="sidebar">
    <br/><br/>
    <ul class="section-nav">
        <li><a href="#what">What Does This Site Do?</a></li>
        <ul>
            <li><a href="#bib">CfA Bibliography</a></li>
            <li><a href="#why">Snapshots</a></li>
        </ul>
        <br/>
        <li><a href="#setup">Getting Setting Up</a></li>
        <ul>
            <li><a href="#ads">ADS Account</a></li>
            <li><a href="#link">Library Link Server</a></li>
            <li><a href="#api">ADS API Token</a></li>    
        </ul>
        <br/>
        <li><a href="#newreport">Generate a New Report</a></li>
        <br/>
        <li><a href="#report">Reports</a></li>
        <ul>
            <li><a href="#history">Report History</a></li>
            <li><a href="#read">Reading a Report</a></li>
            <li><a href="#summaries">Refereed Summaries</a></li>
            <li><a href="#graph">Export Graphs</a></li>
            <li><a href="#sheet">Export Spreadsheets</a></li>
        </ul>
    </ul>
    </div>
</div>


<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">

    <br/>
        <h1>CfA Publications Report Help & Instructions</h1>
<a name="what"></a>
<br/><br/>
<h3>What Does This Site Do?</h3>
This site was designed by Katie Frey at the <a href="http://library.cfa.harvard.edu">Wolbach Library</a> of the <a href="http://cfa.harvard.edu">Center for Astrophysics</a> to generate publication statistics reports from the CfA Bibliography.  It allows someone to submit a list of names, for example the researchers within a department, to automatically generate publication stats drawn from the CfA Bibliography.  Currently it is restricted to the CfA Bibliography, but there are plans to expand it to other bibilographic groups curated within the Astrophysics Data System.  Contact <a href="/about">Katie Frey</a> if you think you should have access.

<a name="bib"></a>
<br/><br/>
<h4>What is the CfA Bibliography?</h4>
The CfA Bibliography is a list of articles written by members of the CfA Community, carefully curated and vetted by the <a href="http://library.cfa.harvard.edu">Wolbach Library</a>.  New articles are added to the list at least once a month.  The list is maintained in the Astrophysics Data System (ADS), and the ADS interface can be used to search through the CfA Bibliography. This application leverages the ADS search capabilities to generate publication reports.

<a name="why"></a>
<br/><br/>
<h4>Snapshots</h4>
Reports generated by this application are a snapshot.  They represent the articles published by a given author over a given time frame that were available at <i>the moment the report was generated</i>.  Some publishers make their articles available online early, and some make them available late.  It is possible that two reports for the same authors over the same time frame, but run a month apart from each other <i>will generate different numbers</i>.  Typically the report generated at a later date will have larger numbers, especially in regards to the citation counts.  This is normal and to be expected.


<a name="setup"></a>
<br/><br/>
<h3>Getting Set Up</h3>
Before you can start using this application, there are a few things you need to do to get set up.  You need to have an account with the Astrophysics Data System, and you need to add your API Access Token to your account on this site. It is also recommended that you set up your Library Link Server with ADS so that you can access the full text of most articles.  The steps below will walk you through everything you need to do.

<a name="ads"></a>
<br/><br/>
<h4>Create an ADS Account</h4>

In order to search through the CfA Bibliography, you will need an account with the Astrophysics Data System.  If you do not have one, <a href="https://ui.adsabs.harvard.edu/user/account/register" target="_blank" title="">create a new account</a>.  If you already have an account, <a href="https://ui.adsabs.harvard.edu/user/account/login" target="_blank" title="">sign in.</a>

<a name="link"></a>
<br/><br/>
<h4>Set up your Library Link Server</h4>
Next, it is recommended that you set up the Library Link Server in your ADS Account so that you can access the full text of articles of journals subscribed to by Wolbach and the Harvard Library.
<br/><br/>

<ol><li>
        In <a href="https://ui.adsabs.harvard.edu/">ADS</a>, go to Settings under the Account menu, and then to <a href="https://ui.adsabs.harvard.edu/user/settings/librarylink" target="_blank" title="">Library Link Server</a>.
    </li>
    <li>
        Click on the "Update" button.
    </li>
    <li>
        A drop down menu should appear; select "Harvard University Library," then click the "Apply" button.
    </li>
    <li>
        You should see a line that says "Current Link Server: <strong>Harvard University Library</strong>."
    </li>
</ol>

You can now access full text content via Harvard's subscriptions.

If you come across an article you need to access but is unavailable via our subscriptions, please send an email to <a href="mailto:library@cfa.harvard.edu">library@cfa.harvard.edu</a> or use our <a href="https://library.cfa.harvard.edu/materialrequest" target="_blank" title="">request form</a>.


<a name="api"></a>
<br/><br/>
<h4>ADS API Token</h4>
The most important part of your ADS set up is to get your ADS API Token.
<br/><br/>

<ol><li>
        In <a href="https://ui.adsabs.harvard.edu/">ADS</a>, go to Settings under the Account menu, and then to <a href="https://ui.adsabs.harvard.edu/user/settings/token" target="_blank" title="">API Token</a>.
    </li>
    <li>
        Click on the "Generate a new key" button.
    </li>
    <li>
        A long string of what looks like random numbers and letters should appear in a box.  <strong>Highlight the string, right click and copy.</strong>
    </li>
    <li>
        Back here at the CfA Publication Reports application, go to "Settings" under "Account," paste that string to the ADS API Token field and click "Update Token."
    </li>
</ol>

<a name="newreport"></a>
<br/>
<h3>Generate a New Report</h3>
Now that you are all set up, you can use this site to generate publication reports.  First, you'll need a list of researcher names to search for. Each name should be on a seperate line, and written lastname, firstname. Example:<br/>
Smith, Jane<br/>
Smith, John
<br/><br/>

<ol><li>
        Click on "<a href="/report">Generate New Report</a>" found under "Publication Rerpots" in the top menu.
    </li>
    <li>
        Paste the list of names into the text box.
    </li>
    <li>
        Write in the date range you wish to query.  For example, if you are looking for all articles published by your list of researchers in 2019 you can simply write "2019" in both boxes.
    </li>
    <li>
        Click the "Search" Button to add your query to the queue.
    </li>
</ol>
It can take anywhere from a few seconds to several minutes to execute your query, depending on the number of authors and the date range you selected.


<a name="report"></a>
<br/><br/>
<h3>Reports</h3>
In order to see if your most recent query has completed, and to see your past reports, click on "<a href="/report/history">Report History</a>" underneath "Reports" from the top menu.

<a name="history"></a>
<br/><br/>
<h4>Understanding Report History</h4>
The <a href="/report/history">Report History</a> page lists all reports you have generated using this application.  It is sorted so that your most recent report is at the top, and the oldest is at the bottom.  If your most recent query has not completed yet, you will see "(pending)" for it's entries.  Completed reports will display a summary of how many journals and authors were found, along with a reminder about the date range included in the report.
<br/><br/>
As mentioned above, these reports are snapshots made at the moment of the query, so the Date Created for each report is also displayed prominently in this history list.

<a name="read"></a>
<br/><br/>
<h4>Reading a Report</h4>
When you are looking at a specific report, the sidebar on the right will remind you of the query you executed to generate this report, such as the date range, and the author list.  It also displays the date and time the report was created, which is important since the information is a snapshot generated at that date and time.
<br/><br/>
The main content of the report shows a couple of graphs.
<ol><li>
        The first graph shows the number of articles (refereed and non refereed) authored by a particular person.
    </li>
    <ul>
        <li>
            Articles in which they were the "first author" are emphasized with a darker shade.  If more than one person on your list were co-authors on an article, the article will be counted once for each author in this graph and in its related tabular data.
        </li>
    </ul>
    <li>
        The second graph shows the total number of articles written by the authors in this query that were published in each journal.  If more than one person in your list were co-authors on an article, the article is only counted once in this graph and in its related tabular data.
    </li>
    <li>
        Below the graphs is some tabular data displaying the number of refereed & non refereed articles authored by a specific person, how many of those were they the first author for, and how many citations those articles have received to date.  Keep in mind that if any articles have co-authos in your query list, the article will be counted once for each co-author in the author tables, but only once total in the journal table.
    </li>
        <ul>
        <li>
            The name of each author is a link out to ADS that dispalys the articles for that person which have been gathered by this report.
        </li>
    </ul>
</ol>

<a name="summaries"></a>
<br/>
<h4>Refereed Summaries</h4>
Under the "Reports" menu item is an option for "Refereed Summaries."  This report will collect the total number of refereed articles and the sum of their refereed citations for each year of a provided range.  When viewing a summary, you can click through to the full ADS results as well as export the tabluar data.

<a name="graph"></a>
<br/><br/>
<h4>Exporting Graphs</h4>
When you mouse over a graph, at the top you should see a series of icons appear.  The leftmost icon looks like a camera.  Click that icon to download a .png image of the graph.
<a name="sheet"></a>
<br/><br/>
<h4>Exporting Spreadsheets</h4>
To export a spreadsheet of the data found in a report, click the blue "Export Spreadsheet" button found under the Tabular Data section. A CSV file will be downloaded, which you can open in Excel to save as a .xlsx file.

</main>

</div>
</div>

{% endblock %}