{% load static %}

<!DOCTYPE html>

<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'bibtool/css/style.css' %}"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


    <!--<script type="text/javascript" src="{% static 'bibtool/js/jquery-min.js' %}"></script>-->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'bibtool/js/plotly-latest.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bibtool/js/sorttable.js' %}"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg sticky-top">
    <span class="navbar-brand">CfA Bibliography & Publications Reporting Tool</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {% block nav-home %}{% endblock %}">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item {% block nav-about %}{% endblock %}">
                <a class="nav-link" href="/report/about">About</a>
            </li>

            {% if request.user.is_authenticated %}

                <li class="nav-item dropdown {% block nav-search %}{% endblock %}">
                    <a class="nav-link dropdown-toggle" href="/report" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Publication Reports
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/report">Generate New Report</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/report/history">Report History</a>
                        <a class="dropdown-item" href="/report/summaries">Report Summaries</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/report/help">Help</a>
                    </div>
                </li>

                {% if request.user.accesslvl.id == 3 or user.accesslvl.id == 2 %}
                    <li class="nav-item dropdown {% block nav-info %}{% endblock %}">
                        <a class="nav-link dropdown-toggle" href="/bibmanage/info" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Manage Bibliography
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/batch">Evaluate Articles</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/bibmanage/info">Instructions</a>
                            <a class="dropdown-item" href="/bibmanage/tips">Classification Tips</a>
                            {% if request.user.accesslvl.id == 3 %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/bibmanage/batch">Export Batches</a>
                            <a class="dropdown-item" href="/bibmanage/add">Search Criteria (NYI)</a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
            <li class="nav-item dropdown {% block nav-lout %}{% endblock %}">
                    <a class="nav-link dropdown-toggle" href="/account" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/account">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>

            {% elif request.user.is_authenticated == False %}
                <li class="nav-item {% block nav-login %}{% endblock %}">
                    <a class="nav-link" href="/login">Login</a>
                </li>
           {% endif %}
        </ul>
    </div>
</nav>

{% block body %}
{% endblock %}

</body>
</html>