{% extends "bibtool/base.html" %}
{% load static %}

{% block nav-eval %}active{% endblock %}

{% block title %}
    CfA Bibliography: Evaluate
{% endblock %}

{% block body %}


<br/>
<br/>

<!-- start of container for chart and blerb-->
<div class="container">

    <div class="row">
        <div class="col"> 
            <div class="media-body">
                <br/>
                <br/>
                <br/>
                <h3 class="mt-0">Progress Report</h3>
                <br/>
                <p>The number of records that have been verified: {{numver}}</p>
                <p class="mb-0">The number of records that still need to be checked: {{numnotv}}</p>
            </div>
        </div>

        <div class="col">
            <div class="media-right">
                <div id="myDiv" class="media-object"></div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <p>These records have had their automatic classification verified by a human (Thank you!!). The record status can be edited if an error is noticed.</p>
        </div>
        <div class="col-12">
            <p><a href="/nameverify/{{year}}/{{month}}">View all records that have NOT yet been verified</a>
        </div>
    </div>
</div>
<!-- end of container for chart and blerb-->


<br/>


<!-- start of container for both accordians-->
<div class="container-fluid">    

    <div class="card">
        <div class="card-header" id="headingTwo" style="background-color: #666699;text-align: center;">
            <h5 class="mb-0" style="color: #ffffff">Verified Records</h5>
        </div>
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
        
    {% regroup page_obj by bibcode as bib_list %}

    {% for x in bib_list %}

        <div class="row records">
            <div class="col-3">
                <div style="display: none;" id="buttonloc_{{x.grouper.id}}">
                    <button type="button" data-verify="0" data-artid="{{x.grouper.id}}" data-value="Records Marked Incorrect" class="sbutton btn custombtn2 btn-secondary">Mark as Incorrect</button>
                    <br/> <br/>
                    <button type="button" data-id="{{x.grouper.id}}" data-value="cancel" class="cbutton btn custombtn2 btn-secondary">Cancel</button>
                </div>
                    <div style="display: block;" id="editloc_{{x.grouper.id}}">
                        <button type="button" data-id="{{x.grouper.id}}" class="ebutton btn custombtn2 btn-secondary">Edit</button>
                    </div>
            </div>
            <div class="col-9">
                <span style="padding-bottom: .5rem"><a href="https://ui.adsabs.harvard.edu/abs/{{x.grouper.bibcode}}/abstract" target="_blank">{{x.grouper.bibcode}}</a> {{x.grouper.title}}</span>
                
                <table id="bibliography" width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th width="75px">Status</th>
                            <th width="175px">Name</th>
                            <th>Affilation</th>
                            <th>Query</th>
                            
                        </tr>
                    </thead>
                    
                    {% for rec in x.list %}
                        <tr>
                            <td>
                                <input type="checkbox" id="cb_{{rec.id}}" name="auth-{{x.grouper.id}}" value="{{rec.name}}">
                            </td>
                            <td class="{{rec.inst|cut:' '}}">
                                <span id="span_{{rec.id}}">
                                {{rec.inst}}
                                </span>
                            </td>
                            <td>
                                <label for="cb_{{rec.id}}">{{rec.name}}</label>
                            </td>
                            <td>
                                {{rec.affil}}
                            </td>
                            <td>
                                {{rec.query}}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5">
                            <input type="checkbox" class="checkall" name="list-{{x.grouper.id}}" id="list-{{x.grouper.id}}" value="{{x.grouper.bibcode}}"> <label for="list-{{x.grouper.id}}"><strong>Check all for {{x.grouper.bibcode}}</strong></label>
                        </td>
                        
                    </tr>
                </table>

            </div>
        </div>

    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<!-- end of container for accordians-->

<script>

$(document).ready(function() {
  $('#bibliography tr').click(function(event) {
    if (event.target.type !== 'checkbox') {
      $(':checkbox', this).trigger('click');
    }
  });


});


//graph
var data = [{
  values: [{{numver}}, {{numnotv}}],
  labels: ['Verified', 'Not Verified'],
  
  type: 'pie'
}];

var layout = {
  height: 400,
  width: 500,

};

Plotly.newPlot('myDiv', data, layout);



function getCookie(c_name)
{
    if (document.cookie.length > 0)
    {
        c_start = document.cookie.indexOf(c_name + "=");
        if (c_start != -1)
        {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) c_end = document.cookie.length;
            return unescape(document.cookie.substring(c_start,c_end));
        }
    }
    return "";
 }

$('.ebutton').click(function(){
    var id = $(this).attr("data-id");
    $("#buttonloc_"+id).show();
    $("#editloc_"+id).hide();

});

$('.cbutton').click(function(){
    var id = $(this).attr("data-id");
    $("#buttonloc_"+id).hide();
    $("#editloc_"+id).show();

});

$('.sbutton').click(function(){
    var verify = $(this).attr("data-verify");
    var artid = $(this).attr("data-artid");
    auths = []
    $('input[name="auth-'+artid+'"]').each(function(){
        if(this.checked) {
            var num = $(this).attr("id");
            auths.push(num.replace("cb_",""));
        }
    });

    if (auths.length != 0) {
        
        var span_value = $(this).attr("data-value");

        $.ajaxSetup({
            headers: { "X-CSRFToken": getCookie("csrftoken") }
        });

        $.ajax(
        {
            type:"POST",
            url: "/post_nameverify",
            data:{
                    verify: verify,
                    authid: auths, // sending list of authors to server
                    art: artid,
            },
            success: function( data ) 
            {
                $("#buttonloc_"+artid).hide();
                $("#editloc_"+artid).show();
                for (i=0;i<auths.length;i++){
                    console.log(auths[i]);
                    $('input#cb_'+auths[i]).prop("checked", false);
                    $("#span_"+auths[i]).text(span_value);
                }
            }
         })
    }
});

$(".checkall").click(function(event) {
    var thing = ($(this).attr("name")).replace("list-","");
    if(this.checked) {
        $('input[name="auth-'+thing+'"]').each(function(){
            this.checked = true;
        });
    } else {
        $('input[name="auth-'+thing+'"]').each(function(){
            this.checked = false;                       
        });
    }
});


</script>


{% endblock %}